<ion-view view-title="Contact US">
  <ion-content class="contact">
    <div class="card">
          <div class="item item-divider">
    <h2>Local Information</h2>
  </div>

  <ion-card-content ion-item class="item-icon-left address">
		<p><h5>Our Address<br>
		121, Clear Water Bay Road<br>
		Clear Water Bay, Kowloon<br>
		HONG KONG</h5></p>
   <i class="ion-icon ion-ios-telephone"></i>
   <a href="tel:+852 1234 5678">Tel: +852 1234 5678</a><br>
   <i class="ion-icon ion-printer"></i>
   <a href="fax:+852 8765 4321">Fax: +852 8765 4321</a><br>
<i class="ion-icon ion-email"></i>
  <a href="email:confusion@food.net"> Email:confusion@food.net</a>
  </ion-card-content>
  <br>
  <ion-row>
    <ion-col>
       <a href="tel:+852 1234 5678"><button id ="social" class="button icon icon-left ion-ios-telephone button-positive button-lg">
   Call
</button></a>
    </ion-col>
    <ion-col>
      <a href="skype:"><button id ="social" class="button icon icon-left ion-social-skype button-calm button-lg">
   Skype
</button></a>
    </ion-col>
     <ion-col>
     <a href="email:confusion@food.net"><button id ="social"  class="button icon icon-left ion-email button-balanced button-lg">
   Email
</button></a>
    </ion-col>
  </ion-row>
</div>
  </ion-content>
</ion-view>


